In [280]:
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
import math, warnings
from sklearn import linear_model, naive_bayes, svm, model_selection
from sklearn.neighbors import NearestNeighbors
import pandas as pd
import seaborn as sn
from sklearn.metrics import classification_report

In [281]:
df_train = pd.read_csv("dataWorkstyle-training.csv") 
df_test = pd.read_csv("user-response-test.csv")

In [336]:
#X = df_train[['company','investmentStart','returnTime','workStyle','companySize','capitalInstalacao','totalUnits']]
#X_test = df_test[['investmentStart','returnTime','workStyle','companySize','capitalInstalacao','totalUnits']]

X = df_train[['company','investmentStart','returnTime','workStyle']]
X_test = df_test[['investmentStart','returnTime','workStyle']]

investmentStartFilter =  X['investmentStart'] <= (X_test['investmentStart'][0] * 1.5)
X_filter = X[investmentStartFilter]
X_filter = X_filter.loc[~((X_filter['investmentStart'] == 0))]
y = X_filter['company']
X_filter = X_filter.iloc[: , 1:]

In [337]:
meanDataSet = X_filter.mean()
stdDataSet = X_filter.std()
X_norm =(X_filter-meanDataSet)/stdDataSet

In [338]:
model = linear_model.LogisticRegression(random_state=0).fit(X_norm, y)
result = model.score(X_norm, y)

In [339]:


X_test_norm = (X_test-meanDataSet)/stdDataSet
X_test

,investmentStart,returnTime,workStyle,companySize,capitalInstalacao,totalUnits
0,50000,36,2,2,10000,5

In [340]:
y_test = model.predict(X_test_norm)
valid_x_df = pd.DataFrame(X_test_norm)
valid_y_df = pd.DataFrame(y_test)

In [341]:
n=5

probas = model.predict_proba(X_test_norm)


top_n_predictions = np.argsort(probas, axis = 1)[:,-n:]

top_class = model.classes_[top_n_predictions]

top_class_df = pd.DataFrame(data=top_class)
results = pd.merge(valid_y_df, valid_x_df, left_index=True, right_index=True)
results = pd.merge(results, top_class_df, left_index=True, right_index=True)

firstRecommended = results.iloc[:,-1].to_numpy()
secondRecommended = results.iloc[:,-2].to_numpy()
thirdRecommended = results.iloc[:,-3].to_numpy()
fourthRecommended = results.iloc[:,-4].to_numpy()
fifthRecommended = results.iloc[:,-5].to_numpy()

for i in range(len(X)):
    if X.iloc[:,0][i] == firstRecommended[0]:
        print(X.loc[[i]])

      company  investmentStart  returnTime  workStyle  companySize  \
41  casagroup            50990          18          2            2

    capitalInstalacao  totalUnits
41                  0           2

In [342]:
results

,0_x,investmentStart,returnTime,workStyle,companySize,capitalInstalacao,totalUnits,0_y,1,2,3,4
0,casagroup,1.190776,3.787368,0.931133,0.902957,-0.411282,-0.471335,beetools the language school,acai da barra,conta4u,agua de cheiro,casagroup

In [343]:
#plot = sn.heatmap(probas, annot=False, fmt=".2f")